<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Image</key>
			<string>act0.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo0.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo0.jpg</string>
				<string>logo1.jpg</string>
				<string>logo2.jpg</string>
				<string>logo3.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act1.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo1.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo6.jpg</string>
				<string>logo8.jpg</string>
				<string>logo11.jpg</string>
				<string>logo1.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act2.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo2.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo6.jpg</string>
				<string>logo13.jpg</string>
				<string>logo3.jpg</string>
				<string>logo2.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act3.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo3.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo7.jpg</string>
				<string>logo11.jpg</string>
				<string>logo8.jpg</string>
				<string>logo3.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act4.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo4.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo4.jpg</string>
				<string>logo0.jpg</string>
				<string>logo13.jpg</string>
				<string>logo14.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act5.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo5.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo1.jpg</string>
				<string>logo5.jpg</string>
				<string>logo8.jpg</string>
				<string>logo10.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act6.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo6.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo6.jpg</string>
				<string>logo3.jpg</string>
				<string>logo10.jpg</string>
				<string>logo9.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act7.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo7.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo12.jpg</string>
				<string>logo13.jpg</string>
				<string>logo7.jpg</string>
				<string>logo14.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act8.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo8.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo4.jpg</string>
				<string>logo8.jpg</string>
				<string>logo10.jpg</string>
				<string>logo13.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act9.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo9.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo9.jpg</string>
				<string>logo10.jpg</string>
				<string>logo0.jpg</string>
				<string>logo6.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act10.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo10.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo12.jpg</string>
				<string>logo9.jpg</string>
				<string>logo10.jpg</string>
				<string>logo2.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act11.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo11.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo5.jpg</string>
				<string>logo6.jpg</string>
				<string>logo7.jpg</string>
				<string>logo11.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act12.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo12.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo12.jpg</string>
				<string>logo13.jpg</string>
				<string>logo14.jpg</string>
				<string>logo15.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act13.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo13.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo15.jpg</string>
				<string>logo0.jpg</string>
				<string>logo13.jpg</string>
				<string>logo12.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act14.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo14.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo14.jpg</string>
				<string>logo13.jpg</string>
				<string>logo12.jpg</string>
				<string>logo9.jpg</string>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>act15.jpg</string>
			<key>CorrectAnswer</key>
			<string>logo15.jpg</string>
			<key>Answers</key>
			<array>
				<string>logo0.jpg</string>
				<string>logo1.jpg</string>
				<string>logo2.jpg</string>
				<string>logo15.jpg</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
